<p>
  <b>First name:</b>
  <%= @account.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @account.last_name %>
</p>

<p>
  <b>Gender:</b>
  <%= @account.gender %>
</p>

<p>
  <b>Age:</b>
  <%= @account.age %>
</p>
